<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <title>Vue - Componente 2</title>
</head>
<body>
    <div id="app">
        <componente 
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:saludo="post.saludo"
        ></componente>
        <input type="text" id="greeting" v-model="newItem.text" @keyup.enter="submit">
    </div>
    
    <script src="../js/vue.js"></script>
    <script>
        Vue.component( 'componente',{
            props: ['saludo'],
            template: '<div><input type="checkbox" class="todo-item"><h1 class="todo-item"> {{ saludo }} </h1></div>',
        })

        new Vue({
            el: "#app",
            data:{
                posts: [
                    { id:1, saludo: "Hello world" },
                    { id:2, saludo: "Hola mundo" }
                ],
                newItem: {text: ''}
            },
            methods: {
                submit: function(){
                    this.posts.push({id: Math.random()*10, saludo:this.newItem.text});
                    this.newItem.text = "";
                }
            },
        })
    </script>
</body>
</html>